*
  box-sizing: inherit

body
  box-sizing: border-box
  margin: 0
  font-family: Helvetica, sans-serif

.app
  padding: 20px
  min-height: 100vh
  display: grid
  grid-template-columns: 1fr max-content
  justify-items: center
  &>:not(:last-child)
    margin-right: 30px
