*
  box-sizing: inherit

body
  box-sizing: border-box
  margin: 0

.app
  padding: 20px
  min-height: 100vh
  display: flex
  align-items: flex-start
  justify-content: flex-start
  &>:not(:last-child)
    margin-right: 30px
