.scene, .canvas
  border: none
  // box-shadow: 5px 5px 20px 5px #0005

.cell
  width: 2px
  height: 2px
  border-radius: 50%
  border: .5px solid #c7c7c7
  background-color: #fff0
  &.alive
    background-color: green

.controls
  // padding: 20px
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  justify-content: start
  &>:not(:last-child)
    margin-bottom: 20px

.button
  display: block
